@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=PT+Sans&display=swap');

/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* body {
	line-height: 1;
} */
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-size:62.5%;
}

body{
    font-size:1.6rem;
    line-height:1.5;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size:4rem;
    margin-left: 3%;
}

h2 {
    font-size:3rem;
}

h3 {
    font-size:2.5rem;
}
h1 h2 h3{
    font-family: 'Cinzel', serif;
}
a {
    text-decoration:none;
}
section{
    padding:2% 0;
}

header {
    background-color: gray;
    border: 2px solid black;
}



nav{
    margin:0 5%;  
}

nav a{
    display:inline-block;
    width:5%;
    text-align:center;
    border: solid black 3px;
    padding:0 3%;
    color: black;
    background-color: white;
    margin-bottom: 2%;
}

nav a:hover{
    color: white;
    background-color: black;
}

.big-top-container {
    display:flex;
    justify-content:space-around;
    padding:1% 2%;
    background-color: lightgray;
    border: 2px solid black;
}

/* .big-top-container img{
    max-width: 30%;
} */

.top-img-container{
    width: 40%;
    
}

.text-container {
    width: 45%;
    display:flex;
    flex-direction: column;
    align-items:left;
    margin-left:1%;
    margin-top: 12%;
    padding: 0 5%;
}
 .text-container button{
     width: 25%;
     border-radius: 8px;
     background-color:white;
 }

.text-container button:hover{
    color:white;
    background-color:black;
}

 .gallery {
     display: flex;
     flex-wrap: wrap;
     padding: 2%;
     justify-content: space-between;
     background-color: lightgray;
     border: 2px solid black;
     
 }

 figure {
    text-align: center;
}
figure:hover{
    font-weight: 900;
    font-size: 2.2rem;
}

 figure img{
    border-radius: 10%;
    border: 2px solid black;
 }

 figure img:hover{
     border: 5px solid black;
 }
 footer {
     background-color: gray;
     display:flex;
     flex-direction: column;
     justify-content: center;
     height: 25vh;
     border: 2px solid black;
 }

 .footer-container {
     text-align:center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-top:4%;
     font-weight: 900;
 }

 .footer-container button {
     display: flex;
     justify-content: center;
     width: 15%;
     margin:0 42%;
     border-radius: 8px;
     background-color:white;
 }

 .footer-container button:hover {
     color: white;
     background-color: black;
 }

 .footer-container nav{
     display: flex;
     justify-content: center;
     text-align-last: center;
     margin:0 5%;
 }

 /* 500 px style */

 @media (max-width:500px){

    html, body {
        max-width: 100%;
        /* overflow-x: hidden; */
    }

    nav a {
        display:flex;
        flex-direction: column;
        width:20%;
        justify-content: right;
        margin: 2% 37%
    }

    h1 {
        display: flex;
        justify-content: center;
    }
    .big-top-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-container {
        width: 80%;
        text-align: center;
        margin-top: 3%;
    }
   
    .top-img {
        width:100%;
        border-radius: 50%;
        margin-top: 4%;
    }

    .footer-container {
        padding: 30% 0;
    }

    .footer-container nav{
       display: none;
    }
    
    
 } 